<div class="user-container">

    <form [formGroup]="basicForm" (ngSubmit)="create()" novalidate autocomplete="off"  >
        <mat-form-field>
            <input matInput placeholder="Name:" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" required formControlName="email">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <button type="submit" class="button" mat-raised-button color="primary">Save</button>
    </form>
</div>